@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap');

body {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(
      315deg,
      rgb(13, 23, 110) 3%,
      rgb(25, 170, 198) 98%
    );
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    100% {
      background-position: 0% 0%;
    }
  }
  
  .wave {
    background: rgba(11, 48, 59, 0.25);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 25em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
  
  .wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
  }
  
  .wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
  }
  
  @keyframes wave {
    2% {
      transform: translateX(1);
    }
  
    25% {
      transform: translateX(-25%);
    }
  
    50% {
      transform: translateX(-50%);
    }
  
    75% {
      transform: translateX(-25%);
    }
  
    100% {
      transform: translateX(1);
    }
  }
  
  .aaaaa
  {
    width: 300vw;
    height: 300vh;
  }
  .asddd
{
    width: 10vw;
    height: 10vh;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: calc((10vh + 10vw)/2);
    height: calc((10vh + 10vw)/2);
    margin: calc((2vh + 2vw)/2);
    border: calc((1vh + 1vw)/2) solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

.loader{
    background: linear-gradient(
      315deg,
      rgb(13, 23, 110) 3%,
      rgb(25, 170, 198) 98%
    );  
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;
    clip-path: circle(150% at 100% 0);
    transition: clip-path 0.001s ease-in-out ;
}

.loader2{
clip-path: circle(0% at 100% 0);
}

h1{
    padding: 1vw;
    font-family: 'Bangers', cursive;
}

h2{
    font-family: 'Montserrat';
}

img
{
    width: calc(((2vw+2vh))/(2)*(65));
    height: calc(((2vw+2vh))/(2)*(92));
    padding: 1vw;
    position:relative;
    z-index: 1000;
    animation: cosito 13s; /* ANIMACION DE LA FOTO*/
}

text
{
    font-family: verdana;
    font-weight: bold;
    text-align: right;
    font-size: 10vw;
    letter-spacing: 1vw;
    color: rgb(255, 255, 255);
    text-shadow: rgb(0, 0, 0) 1vw 1vw 1vw;
}

Button{
     padding: 1vw;
     width: calc(((2vw+2vh))/(2)*(65));
}
@keyframes lds-ring {
    0% {
    transform: rotate(0deg);
    }
    100% {
    transform: rotate(360deg);
    }
}

@keyframes cosito 
{
    0% {
    opacity:0;
    }
    100% {
    opacity:1;
    }
}
